@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700italic,700);

body {
    background-color: $background-color;
    font: #{$font-size}/#{$font-line-height} $font-family;
    color: $text-color;
    font-weight: $font-weight;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
    color: #393939;
}

h3 {
    font-size: 16px;
    color: #494949;
}

h4 {
    font-size: 14px;
    color: #595959;
}

h5 {
    font-size: 14px;
    color: #696969;
}

h6 {
    font-size: 14px;
    color: #797979;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover, a.active {
    color: $link-color-hover;
}

.icon {
    > svg {
        display: inline-block;
        vertical-align: middle;
        path {
            fill: $text-color;

            a & {
                fill: $link-color;
            }
            a:hover & {
                fill: $link-color-hover;
            }
        }
    }
}


// Content

.warning {
    background: $warning-background-color;
    color: $warning-text-color;
    text-align: center;
    border-radius: 5px;
}

.builds-list {
    border-width: 1px;
    border-style: solid;

    .title {
        font-weight: bold;
    }

    &.builds-list-tank {
        background: linear-gradient(to bottom right, #ede6e1, $background-color 50%);
        border-image: linear-gradient(to bottom right, #995105, $background-color 50%) 1;
        .title {
            color: #995105;
        }
    }
    &.builds-list-healer {
        background: linear-gradient(to bottom right, #e1ebed, $background-color 50%);
        border-image: linear-gradient(to bottom right, #046980, $background-color 50%) 1;
        .title {
            color: #046980;
        }
    }
    &.builds-list-power {
        background: linear-gradient(to bottom right, #ede1e1, $background-color 50%);
        border-image: linear-gradient(to bottom right, #990505, $background-color 50%) 1;
        .title {
            color: #990505;
        }
    }
    &.builds-list-conditions {
        background: linear-gradient(to bottom right, #e3ede1, $background-color 50%);
        border-image: linear-gradient(to bottom right, #298004, $background-color 50%) 1;
        .title {
            color: #298004;
        }
    }
    &.builds-list-other {
        background: linear-gradient(to bottom right, #e9e1ed, $background-color 50%);
        border-image: linear-gradient(to bottom right, #6a0599, $background-color 50%) 1;
        .title {
            color: #6a0599;
        }
    }
}
