@import "math";

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 0 0;

    + * {
        margin-top: 0;
    }
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 16px;
}

h3 {
    margin-top: 12px;
}

header {
    margin-top: 25px;
    padding: 0 10px;
    width: 225px;
    float: left;
    position: fixed;

    ul {
        list-style: none;
        padding: 0 0 0 15px;
        margin: 0;
    }
    > ul {
        padding-left: 0;
    }
}

section {
    float: right;
    padding: 0 10px 25px 10px;

    ul {
        margin-top: 0;
        margin-bottom: 4px;
    }

    p + ul {
        margin-top: -10px;
    }

    dd {
        margin-left: 20px;
        > ul {
            margin-left: -20px;
        }
    }
}

footer {
    padding: 0 10px;
    width: 225px;
    float: left;
    position: fixed;
    bottom: 10px;

    p {
        margin: 0;
        padding: 0;
    }
}


// Content stuff

.warning {
    padding: 5px;
    > p {
        margin: 0;
    }
}

.builds-list {
    margin: 0 5px 10px 5px;
    padding: 2px 5px;

    .title {
        margin-bottom: 3px;
    }

    ul {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        @media screen and (max-width: $media-xl-max-width) {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
        @media screen and (max-width: $media-l-max-width) {
            -moz-column-count: 1;
            -webkit-column-count: 1;
            column-count: 1;
        }

        list-style: none;
        padding-left: 10px;
        li {
            display: inline-block;
            width: 300px;
            @media screen and (max-width: $media-l-max-width) {
                display: block;
            }
        }
    }

    img.profession-icon {
        height: 24px;
        width: 24px;
        margin: 2px 0;
        vertical-align: middle;
    }
}

.specialization {
    width: 647px;
    height: 136px;
    overflow: hidden;
    background-position: bottom left;
    position: relative;

    * {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        z-index: 1;
    }

    &:hover .hover-overlay {
        opacity: 0;
    }
    .hover-overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.45;
        background: black;
        z-index: 0;
        transition: opacity 0.5s;
    }

    .name {
        margin: 0 10px;
        width: 180px;
        color: white;
        font-size: $font-size + 2px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .trait-icon {
        overflow: none;
        &.trait-icon-minor {
            background-size: 46px;
            background-position: -4px -2px;
            width: 38px;
            height: 42px;
            // Not supported in IE, sadly...
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }
        &.trait-icon-major {
            background-size: 42px;
            background-position: -2px -2px;
            width: 38px;
            height: 38px;
        }
        &.trait-icon-background {
            background: black;
        }
    }

    .trait-set-major {
        margin: 7px 0;
        > .trait-icon {
            display: block;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
        .trait-icon-major {
            opacity: 0.4;
            &.active {
                opacity: 1;
            }
        }
    }

    .line {
        width: 34px;
        border-width: 0px;
        border-style: solid;
        border-color: white;
        &.line-midup {
            border-top-width: 3px;
            width: ceil(34px / cos(30deg));
            margin: 0 -3px (34px * tan(30deg) * 2) -3px;
            -moz-transform: rotate(-30deg);
            -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
        }
        &.line-upmid {
            border-top-width: 3px;
            width: ceil(34px / cos(30deg));
            margin: 0 -3px (34px * tan(30deg) * 2) -3px;
            -moz-transform: rotate(30deg);
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
        }
        &.line-midmid {
            border-bottom-width: 3px;
        }
        &.line-middown {
            border-bottom-width: 3px;
            width: ceil(34px / cos(30deg));
            margin: (34px * tan(30deg) * 2) -3px 0 -3px;
            -moz-transform: rotate(30deg);
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
        }
        &.line-downmid {
            border-bottom-width: 3px;
            width: ceil(34px / cos(30deg));
            margin: (34px * tan(30deg) * 2) -3px 0 -3px;
            -moz-transform: rotate(-30deg);
            -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
        }
    }
}


// Responsive design

.wrapper {
    margin: 0 auto;
    width: 1000px;
    @media screen and (max-width: $media-xl-max-width) {
        width: 700px;
    }
    @media screen and (max-width: $media-l-max-width) {
        width: $media-m-max-width;
    }
    @media screen and (max-width: $media-m-max-width) {
        width: 100%;
    }
}

section {
    width: 1000px;
    @media screen and (max-width: $media-xl-max-width) {
        width: 700px;
    }
    @media screen and (max-width: $media-l-max-width) {
        width: $media-m-max-width - 250px;
    }
    @media screen and (max-width: $media-m-max-width) {
        width: auto;
        margin-left: 190px;
    }
}

header, footer {
    margin-left: -250px;
    @media screen and (max-width: $media-l-max-width) {
        margin-left: 0px;
    }
    @media screen and (max-width: $media-m-max-width) {
        width: 170px;
    }
}
