@import url(https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/menomonia.css);

.tooltip-gw2 {
    border: 2px solid black;
    background: #232b2e;
    color: white;
    max-width: 320px;

    .qtip-titlebar, .qtip-close, .qtip-tip {
        display: none !important;
    }
    .qtip-content {
        font-family: Menomonia, Arial;
        font-size: 14px;
        line-height: 16px;
        position: relative;
        padding: 0 5px 4px 5px;

        .tooltip-color-reminder {
            color: #a1a1a1;
        }
        .tooltip-color-flavor {
            color: cyan;
        }

        .tooltip-name {
            color: #ffcc77;
            font-size: 16px;
            line-height: 24px;
        }
        .tooltip-recharge {
            display: inline-block;
            position: absolute;
            top: 3px;
            right: 3px;
            background-image: url($assets-path + "images/recharge.png");
            background-repeat: no-repeat;
            background-position: right;
            background-size: 16px;
            padding-right: 18px;
            color: white;
        }

        .tooltip-facts {
            color: #a1a1a1;
            margin-top: 10px;

            .tooltip-fact {
                display: table;
                position: relative;
                margin-top: 3px;
                .tooltip-fact-icon {
                    display: table-cell;
                    vertical-align: middle;
                    white-space: nowrap;
                }
                img.tooltip-fact-icon, .tooltip-fact-icon img {
                    width: 32px;
                    height: 32px
                }
                .tooltip-fact-stack {
                    position: absolute;
                    left: 25px;
                    top: 16px;
                    color: white;
                }
                .tooltip-fact-prefixedstack {
                    position: absolute;
                    left: 57px;
                    top: 16px;
                    color: white;
                }
                .tooltip-fact-description {
                    display: table-cell;
                    padding-left: 3px;
                    vertical-align: middle;
                }
            }
        }
    }
}
