---
sitemap:
    exclude: "yes"
---

@charset "utf-8";

$media-xl-max-width: 1500px;
$media-l-max-width: 1200px;
$media-m-max-width: 992px;
$media-s-max-width: 768px;
$media-xs-max-width: 480px;

$font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;
$font-line-height: 1.5;
$font-weight: 400;

$logo-url: url({{ site.baseurl }}/assets/images/lots-emblem.svg);
$background-color: #eee;
$text-color: #222;
$link-color: #39c;
$link-color-hover: #036;

$info-text-color: #088711;
$warning-text-color: #975d01;
$error-text-color: #970101;

// Octicons settings
$octicons-font-path: "{{ site.baseurl }}/assets/fonts";

@import
    "base",
    "layout",
    "tabs",
    "skills",
    "specializations",
    "tooltips",
    "octicons",
    "syntax-highlighting"
;
